@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Result Archive</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A premium result management theme" name="description" />
    <meta content="Mannatthemes" name="author" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <!-- App css -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/metismenu.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/style.css" rel="stylesheet" type="text/css" />

</head>

<body class="account-body">
    <!-- Welcome-->
    <div class="row vh-100">
        <div class="col-lg-3  pr-0">
            <div class="card mb-0 shadow-none">
                <div class="card-body">

                    <div class="px-3">
                        <div class="media mb-5">
                            <a href="index.html" class="logo logo-admin"><img src="assets/images/logo-sm.png" height="55" alt="logo" class="my-3"></a>
                            <div class="media-body ml-3 align-self-center">
                                <h4 class="mt-0 mb-1">Result Archive</h4>
                                <p class="text-muted mb-0">Hello, Welcome to Tenece Professional Services Result Archiver!</p>
                            </div>
                        </div>

                        <form class="form-horizontal my-4" action="index.html">
                            <div class="user-thumb text-center m-b-30">
                                <img src="assets/images/users/user-2.jpg" class="rounded-circle img-thumbnail thumb-xl" alt="thumbnail">
                                <h5>Result Archiver</h5>
                            </div>



                            <div class="form-group mt-5  mb-0 row">
                                <div class="col-12 mt-2">
                                    <a class="btn btn-primary btn-block waves-effect waves-light" href="/Identity/Account/Login">Proceed to Login <i class="fas fa-sign-in-alt ml-1"></i></a>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="m-3 text-center bg-banner p-3 text-primary">
                        <h5 class="">Dont Have an Account?</h5>
                        <p class="font-13">Contact Admins</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 p-0 d-flex justify-content-center">
            <div class="accountbg d-flex align-items-center">
                <div class="account-title text-white text-center">
                    <img src="assets/images/logo-sm.png" alt="" class="thumb-sm">
                    <h4 class="mt-3">Welcome To Result Archiver</h4>
                    <div class="border border-primary w-25 mx-auto "></div>
                    <h1 class="">Let's Get Started</h1>
                    <p class="font-14 mt-3">Forgot Password ? <a href="#" class="text-primary">Recover Password</a></p>

                </div>
            </div>
        </div>
    </div>
    <!-- End Welcome-->
    <!-- jQuery  -->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/metisMenu.min.js"></script>
    <script src="~/assets/js/waves.min.js"></script>
    <script src="~/assets/js/jquery.slimscroll.min.js"></script>

    <!-- App js -->
    <script src="~/assets/js/app.js"></script>

</body>
</html>
